@font-face {
    font-family: "white-rabbit";
    src: url("https://koleada.github.io/Koles_Portfolio/fonts/whitrabt.woff")
        format("woff");
}

.hContent {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 4vw;
    padding-right: 4vw;
    margin: 0;
    gap: 2vh;
    font-size: calc(5px + 1.5vmax);
    padding-bottom: 4vh;
    width: 90%;
}

.hContent pre {
    font-size: calc(5px + 1vmax);
    align-self: center;
    width: fit-content;
}

h1 {
    font-size: calc(5px + 3.5vmax);
    width: 100%;
    text-align: center;
}

pre[class*="language-"] {
    background: #2d2d2d;
    border-radius: 12px;
    overflow: auto;
    height: fit-content;
    line-height: 1 !important; /* forces single spacing */
    margin: 0;
    --code-font-size: calc(5px + 1vmax);
    --code-line-height: 1.35;

    font-size: var(--code-font-size) !important;
    line-height: var(--code-line-height) !important;

    background: #2d2d2d;
    border-radius: 12px;
    overflow: auto;
    margin: 0;
    padding: 1em;
}

code[class*="language-"] {
    margin-top: 2vh;
}

pre {
    /*width: 60% !important;*/
}

pre[class*="language-"] code {
    font-size: var(--code-font-size) !important;
    line-height: var(--code-line-height) !important;
    display: block;
    margin-top: 0;
}

/* language label on top-left, above line numbers */
pre[class*="language-"] .lang-label {
    transform: translate(0, -50%); /* move slightly above the top of the pre */
    background: #50bfe6;
    color: #fff;
    font-size: calc(5px + 1vmax);
    font-weight: bold;
    padding: 2px 8px;
    border-radius: 8px;
    text-transform: uppercase;
    font-size: calc(5px + 1vmax);
    width: fit-content;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

/* Prism line numbers adjustments */
pre.line-numbers {
    font-size: calc(5px + 1vmax) !important;
    line-height: 1 !important;
}

pre[class*="language-"]::-webkit-scrollbar {
    height: 8px;
}

pre[class*="language-"]::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

pre.line-numbers .line-numbers-rows > span {
    line-height: var(--code-line-height) !important;
}

@media (max-width: 600px) {
    .hContent {
        display: flex;
        flex-direction: column;
        min-height: 80vh;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        gap: 2vh;
        font-size: calc(5px + 1.5vmax);
        padding-bottom: 4vh;
        max-width: 90%;
    }

    .hContent pre {
        max-width: 85%;
    }

    .quickInfoCard {
        display: block;
    }

    .hTop {
        padding-right: 0px;
    }
}
